<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="usersName" value="Default"/>
		<add key="xsltFile" value="iTunesPlaylists2Xml.xslt"/>
		<add key="autoConnect" value="false"/>
		<add key="newFileName" value=""/>
		<add key="compilationReplace" value="false"/>
		<add key="compilationArtist" value=""/>
	</appSettings>
</configuration>